# Data preparation and customer analytics

In [6]:
# Ncessary imports
import pandas as pd
import numpy as np

In [7]:
# Data loading
purchase = pd.read_csv('../data/raw/QVI_purchase_behaviour.csv')
transaction = pd.read_excel('../data/raw/QVI_transaction_data.xlsx')

# View the purchase behavior data
purchase.head(3)

   LYLTY_CARD_NBR              LIFESTAGE PREMIUM_CUSTOMER
0            1000  YOUNG SINGLES/COUPLES          Premium
1            1002  YOUNG SINGLES/COUPLES       Mainstream
2            1003         YOUNG FAMILIES           Budget

In [8]:
# View the transaction data
transaction.head(3)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9

In [9]:
# Inspecting the data
print(purchase.info())
print('---')
print(transaction.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  object
 2   PREMIUM_CUSTOMER  72637 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB
None
---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 16.2+ MB
None

In [ ]:
# Convert date column to datetime
transaction['DATE'] = pd.to_datetime(transaction['DATE'])

# Extract the pack size
transaction['PACK_SIZE(g)'] = transaction['PROD_NAME'].str.extract(r'(\d+)').astype(int)

# Extract the brand name
transaction['BRAND'] = transaction['PROD_NAME'].str.split().str[0]

# Remove the pack size and brand name from the product name column
transaction['PROD_NAME'] = transaction['PROD_NAME'].str.replace(r'\d+', '', regex=True)
transaction['PROD_NAME'] = transaction['PROD_NAME'].str.replace(transaction['BRAND']+ ' ', '', regex=False)
transaction['PROD_NAME'] = transaction['PROD_NAME'].astype(str).str.strip()

# View the new columns 
transaction[['PROD_NAME', 'PACK_SIZE(g)', 'BRAND']].head(3)

AttributeError: 'Series' object has no attribute 'astypre'